.main_div {
  background-color: white;
  height: 100%;
  width: 100%;
}
.inner_div {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.text_main_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text_title {
  font-size: 5vh;
  text-align: center;
  color: #97297f;
  font-family: Lato-bold;
}
.back_end_planet_div {
  position: absolute;
  top: 25vh;
  left: -5vw;
}
.back_end_planet_img {
  height: 80vh;
  width: 30vw;
}
.astro_div {
  position: absolute;
  top: 60vh;
  left: 76vw;
}
.astro_img {
  height: 60vh;
  width: 25vw;
}
.back_agency_planet_div {
  position: absolute;
  top: 15vh;
  left: 92vw;
}
.back_agency_planet_img {
  height: 30vh;
  width: 30vh;
}
.back_end_planet1_div {
  position: absolute;
  top: 65vh;
  left: 5w;
}
.back_end_planet1_img {
  height: 14vh;
  width: 20vh;
}
.three_points_main_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.first_point_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 19vw;
  position: absolute;
  left: 18vw;
  top: 22vh;
}
.second_point_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 19vw;
  position: absolute;
  left: 42vw;
  top: 28vh;
}
.third_point_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 19vw;
  position: absolute;
  left: 66vw;
  top: 31vh;
}
.three_points_image {
  height: 8vw;
  width: 8vw;
}
.three_points_title {
  text-align: center;
  font-size: 3vh;
  color: #97297f;
  font-family: Lato-bold;
}
.three_points_content {
  text-align: center;
  font-size: 2vh;
  font-family: Roboto-regular;
}
