.main_div {
  background-color: white;
  height: 100%;
  width: 100%;
}
.inner_div {
  position: absolute;
  width: 100vw;
  height: 50vw;
}
.text_main_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text_title {
  font-size: 2.5vw;
  text-align: center;
  color: #97297f;
  font-family: Lato-bold;
}
.back_end_planet_div {
  position: absolute;
  top: 13vw;
  left: -5vw;
}
.back_end_planet_img {
  height: 40vw;
  width: 30vw;
}
.astro_div {
  position: absolute;
  top: 30vw;
  left: 76vw;
}
.astro_img {
  height: 30vw;
  width: 25vw;
}
.back_agency_planet_div {
  position: absolute;
  top: 8vw;
  left: 92vw;
}
.back_agency_planet_img {
  height: 15vw;
  width: 15vw;
}
.back_end_planet1_div {
  position: absolute;
  top: 33vw;
  left: 5w;
}
.back_end_planet1_img {
  height: 7vw;
  width: 10vw;
}
.three_points_main_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.first_point_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 19vw;
  position: absolute;
  left: 18vw;
  top: 10vw;
}
.second_point_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 19vw;
  position: absolute;
  left: 42vw;
  top: 13vw;
}
.third_point_main_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 19vw;
  position: absolute;
  left: 66vw;
  top: 15vw;
}
.three_points_image {
  height: 8vw;
  width: 8vw;
}
.three_points_title {
  text-align: center;
  font-size: 1.5vh;
  color: #97297f;
  font-family: Lato-bold;
}
.three_points_content {
  text-align: center;
  font-size: 1vw;
  font-family: Roboto-regular;
}
